{% set noUrlsConfigured = not sitemapExists and additionalUrlCount == 0 %}
<hr>

<h2>{{ 'Warm Sitemap Caches'|t('app') }}</h2>

<form id="warm-cache-form" method="post" action="{{ url('actions/cache-cow/cache/warm') }}"
>
    {{ csrfInput() }}
    <button type="submit" class="btn submit{% if jobsInProgress > 0 or noUrlsConfigured %} disabled{% endif %}" >
        Warm Cache
    </button>
</form>
{% if noUrlsConfigured %}
    <div id="no-urls-error">
        Cache warming not possible - Sitemap file missing and no URLs added.
        You can add these in <a href="{{ url('settings/plugins/cache-cow') }}">Settings</a>
    </div>
{% endif %}
{% if jobsInProgress > 0 %}
    <div id="warm-cache-status">
        Cache warming already in progress. Check <a href="{{ url('utilities/queue-manager') }}">Queue Manager</a> for details.
    </div>
{% endif %}
<p>Powered by <a href="https://github.com/wolfcohub/craft-cache-cow">Cache Cow</a></p>

<style>
    #no-urls-error {
        margin-top: 20px;
        padding: 10px;
        border-radius: 5px;
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
    }
    #warm-cache-status {
        margin-top: 20px;
        padding: 10px;
        border-radius: 5px;
        background-color: #f8f5d7;
        color: #5b5c16;
        border: 1px solid #f5f5c6;
    }
</style>