{% import '_includes/forms' as forms %}

<h2>{{ 'Warm Sitemap Caches'|t('app') }}</h2>

<form id="warm-cache-form" method="post" action="{{ url('actions/cache-cow/cache/warm') }}">
    {{ csrfInput() }}
    {{ forms.checkboxSelectField({
        id: 'handles',
        name: 'handles',
        options: cacheWarmingOptions,
    }) }}
    <button type="submit" class="btn submit{% if jobsInProgress > 0 or not canDoWarming %} disabled{% endif %}" >
        Warm Cache
    </button>
</form>
<p>Powered by <a href="https://github.com/wolfcohub/craft-cache-cow">Cache Cow</a></p>
{% if not canDoWarming %}
    <div id="config-error">
        Missing sitemap file and no URLs added.<br>
        Configure your sitemap path or enter URLs for cache warming in <a href="{{ url('settings/plugins/cache-cow') }}">Settings</a>
    </div>
{% elseif missingSitemaps %}
    <div id="config-warning">
        Missing one or more sitemaps. Edit sitemap path(s) in <a href="{{ url('settings/plugins/cache-cow') }}">Settings</a>
    </div>
{% endif %}

{% if jobsInProgress > 0 %}
    <div id="config-warning">
        Cache warming already in progress. Check <a href="{{ url('utilities/queue-manager') }}">Queue Manager</a> for details.
    </div>
{% endif %}

<style>
    #config-error {
        margin-top: 20px;
        padding: 10px;
        border-radius: 5px;
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
    }
    #config-warning {
        margin-top: 20px;
        padding: 10px;
        border-radius: 5px;
        background-color: #f8f5d7;
        color: #5b5c16;
        border: 1px solid #f5f5c6;
    }
</style>